.vagrant
*.aux
*.bbl
*.bcf
*.blg
*.ilg
*.lof
*.log
*.lol
*.lot
*.nlo
*.nls
*.out
*.pyg
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.txt
*.~vsdx
*.~vstx
target
/diploma thesis/src/thesis.pdf
AwsCredentials.properties
early_tests
pom.properties
*.new
*.bak
/implementation/ChorDesigner
/implementation/Fragmento
/implementation/SIMPL-Eclipse
/implementation/SimTech-EclipsePlugIns
/implementation/BPELDesigner/org.eclipse.bpel.tagging
/implementation/BPELDesigner/org.eclipse.bpel.apache.ode.deploy.model
/implementation/BPELDesigner/org.eclipse.bpel.apache.ode.deploy.ui
/implementation/BPELDesigner/org.eclipse.bpel.apache.ode.runtime
/implementation/BPELDesigner/org.eclipse.bpel.cheatsheet
/implementation/BPELDesigner/org.eclipse.bpel.common.model
/implementation/BPELDesigner/org.eclipse.bpel.common.ui
/implementation/BPELDesigner/org.eclipse.bpel.common.wsdl
/implementation/BPELDesigner/org.eclipse.bpel.compare.ui
/implementation/BPELDesigner/org.eclipse.bpel.debug
/implementation/BPELDesigner/org.eclipse.bpel.help
/implementation/BPELDesigner/org.eclipse.bpel.jboss.riftsaw.runtime
/implementation/BPELDesigner/org.eclipse.bpel.model
/implementation/BPELDesigner/org.eclipse.bpel.model.logging
/implementation/BPELDesigner/org.eclipse.bpel.runtimes
/implementation/BPELDesigner/org.eclipse.bpel.validator
/implementation/BPELDesigner/org.eclipse.bpel.validator.junit
/implementation/BPELDesigner/org.eclipse.bpel.views.ui
/implementation/BPELDesigner/org.eclipse.bpel.wsil.model
/implementation/BPELDesigner/org.eclipse.bpel.xpath10
diploma thesis/src/tmp.tex
implementation/Bootware/eclipse/lib/
