<context>
	<infrastructurePlugin>aws-ec2.jar</infrastructurePlugin>
	<connectionPlugin>ssh.jar</connectionPlugin>
	<payloadPlugin>opentosca.jar</payloadPlugin>
	<!--Optional:-->
	<provisionWorkflowMiddlewarePlugin>opentosca_middleware.jar</provisionWorkflowMiddlewarePlugin>
	<!--Optional:-->
	<packageReference>opentosca.csar</packageReference>
	<!--Optional:-->
	<configurationList>
		<entry>
			<key>aws</key>
			<value>
				<configuration>
					<entry>
						<key>secretKey</key>
						<value>874w5zhpswe98tzhg0w87ser049tadsiph</value>
					</entry>
					<entry>
						<key>accessKey</key>
						<value>g9w276og9746gw5</value>
					</entry>
				</configuration>
			</value>
		</entry>
	</configurationList>
</context>
