<context>
	<resourcePlugin>aws-ec2.jar</resourcePlugin>
	<communicationPlugin>ssh.jar</communicationPlugin>
	<applicationPlugin>opentosca.jar</applicationPlugin>
	<!--Optional:-->
	<provisionWorkflowMiddlewarePlugin>
		call_opentosca.jar
	</provisionWorkflowMiddlewarePlugin>
	<!--Optional:-->
	<servicePackageReference>
		../opentosca.csar
	</servicePackageReference>
	<!--Optional:-->
	<configurationList>
		<entry>
			<key>aws</key>
			<value>
				<configuration>
					<entry>
						<key>secretKey</key>
						<value>874w5zhpswe98tzhg0w87ser049tadsiph</value>
					</entry>
					<entry>
						<key>accessKey</key>
						<value>g9w276og9746gw5</value>
					</entry>
					<entry>
						<key>instanceType</key>
						<value>t2.medium</value>
					</entry>
					...
				</configuration>
			</value>
		</entry>
	</configurationList>
</context>
