<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
	<resourcePlugin>test-1.0.0.jar</resourcePlugin>
	<communicationPlugin>test-1.0.0.jar</communicationPlugin>
	<applicationPlugin>test-1.0.0.jar</applicationPlugin>
	<callApplicationPlugin>test-1.0.0.jar</callApplicationPlugin>
	<servicePackageReference>?</servicePackageReference>
	<configurationList>
		<entry>
			<key>test-1.0.0.jar</key>
			<value>
				<configuration>
				</configuration>
			</value>
		</entry>
	</configurationList>
</context>
