<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!-- for descriptions see:
     http://checkstyle.sourceforge.net/checks.html -->
<module name="Checker">

	<module name="TreeWalker">

		<!-- block -->
		<module name="EmptyBlock"/>
		<module name="LeftCurly"/>
		<module name="NeedBraces"/>
		<module name="RightCurly">
			<property name="option" value="alone"/>
		</module>
		<module name="AvoidNestedBlocks"/>

		<!-- class design -->
		<module name="VisibilityModifier">
			<property name="protectedAllowed" value="true"/>
		</module>
		<module name="FinalClass"/>
		<module name="InterfaceIsType"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="DesignForExtension"/>
		<module name="MutableException"/>
		<module name="ThrowsCount"/>
		<module name="InnerTypeLast"/>

		<!-- coding -->
		<module name="ArrayTrailingComma"/>
		<module name="AvoidInlineConditionals"/>
		<module name="CovariantEquals"/>
		<module name="EmptyStatement"/>
		<module name="EqualsAvoidNull"/>
		<module name="EqualsHashCode"/>

		<!-- imports -->
		<module name="AvoidStarImport"/>
		<module name="AvoidStaticImport"/>
		<module name="IllegalImport"/>
		<module name="RedundantImport"/>
		<module name="UnusedImports"/>
		<module name="ImportOrder">
			<property name="groups" value="/^javax?\./,org"/>
			<property name="separated" value="true"/>
		</module>

	</module>

</module>
