<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
	<resourcePlugin>plugins/resource/test-1.0.0.jar</resourcePlugin>
	<communicationPlugin>plugins/communication/test-1.0.0.jar</communicationPlugin>
	<applicationPlugin>plugins/application/test-1.0.0.jar</applicationPlugin>
	<callApplicationPlugin>plugins/provision/opentosca-1.0.0.jar</callApplicationPlugin>
	<servicePackageReference></servicePackageReference>
	<configurationList>
		<entry>
			<key>test-1.0.0.jar</key>
			<value>
				<configuration>
				</configuration>
			</value>
		</entry>
	</configurationList>
</context>
