<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
	name="SimTech Bootware Eclipse Plugin"
	id="org.simtech.bootware.eclipse"
	version="1.0.0">

	<extension
		point="org.simtech.bootware.test.eclipse">
		<execute
				class="org.simtech.bootware.eclipse.Test">
		</execute>
	</extension>

</plugin>
