add-tex-command autoref op
add-tex-command autocite op
add-tex-command autocites oopoopoopoop
add-tex-command footref op
add-tex-command citeauthor op
add-tex-command usemintedstyle op
add-tex-command setmainfont op
add-tex-command setmonofont op
add-tex-command newfontfamily op
add-tex-command droidserif op
add-tex-command hypersetup p
add-tex-command inputminted opp
add-tex-command begin pop
