<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
	<resourcePlugin>aws-ec2-1.0.0.jar</resourcePlugin>
	<communicationPlugin>ssh-1.0.0.jar</communicationPlugin>
	<applicationPlugin>remote-bootware-1.0.0.jar</applicationPlugin>
	<callApplicationPlugin>cloudformation-1.0.0.jar</callApplicationPlugin>
	<servicePackageReference></servicePackageReference>
	<configurationList>
		<entry>
			<key>aws-ec2</key>
			<value>
				<configuration>
					<entry>
						<key>username</key>
						<value>ec2-user</value>
					</entry>
					<entry>
						<key>ports</key>
						<value>22,8080,5563</value>
					</entry>
					<entry>
						<key>imageId</key>
						<value>ami-2918e35e</value>
					</entry>
					<entry>
						<key>instanceType</key>
						<value>t1.micro</value>
					</entry>
				</configuration>
			</value>
		</entry>
	</configurationList>
</context>
