<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<context>
	<resourcePlugin>aws-ec2-1.0.0.jar</resourcePlugin>
	<communicationPlugin>test-1.0.0.jar</communicationPlugin>
	<applicationPlugin>test-1.0.0.jar</applicationPlugin>
	<callApplicationPlugin>test-1.0.0.jar</callApplicationPlugin>
	<servicePackageReference></servicePackageReference>
	<configurationList>
		<entry>
			<key>aws-ec2</key>
			<value>
				<configuration>
					<entry>
						<key>username</key>
						<value>ubuntu</value>
					</entry>
					<entry>
						<key>ports</key>
						<value>22,1337,8080,9443,9763</value>
					</entry>
					<entry>
						<key>imageId</key>
						<value>ami-25865252</value>
					</entry>
					<entry>
						<key>instanceType</key>
						<value>m1.medium</value>
					</entry>
				</configuration>
			</value>
		</entry>
	</configurationList>
</context>
